################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Webgentle.BookStore/FileContentIndex/130616f5-53d1-45f3-a23c-0eefa55068f4.vsidx
/.vs/Webgentle.BookStore/FileContentIndex/38935ec8-880e-4558-89cc-f5182c196964.vsidx
/.vs/Webgentle.BookStore/FileContentIndex/f23984c5-c8db-4992-8746-f2e12183c6b3.vsidx
/.vs/Webgentle.BookStore/FileContentIndex/20f64857-4fcb-47db-9256-a2bfbfa7a0ad.vsidx
